*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* para que vaya lento el scroll.
    el efecto se ve gracias a esto

    <a href="#contacto">contacto</a>

    <footer id="contacto">

    se va a dorigir hacia ese footer
 */
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
}

.hero{
    background-image: linear-gradient(to top, rgba(240, 160, 217, 0.692) 0%, rgba(166, 192, 238, 0.705) 100%), url('https://c4.wallpaperflare.com/wallpaper/246/739/689/digital-digital-art-artwork-illustration-abstract-hd-wallpaper-preview.jpg');
    width: 100vw;
    height: 100vh;
    /* se supone que no la repite pero aqui me la desaparece */
    /* background: no-repeat; */
    background-size: cover;
    background-position: center;
    /* para que haga el efecto de seguir el scroll */
    background-attachment: fixed;
    position: relative;
    /* para que nada salga */
    overflow: hidden;
}


.textos-hero{
    height: 500px;
    color: #fff;
    display: flex;
    flex-direction: column;
    /* lo pone en medio en vertical */
    justify-content: center;
    /* lo pone en medio horizontal */
    align-items: center;
    /* marca un error osea no hace el boton bien */
    /* text-align: center; */
}

.textos-hero h1{
    font-size: 60px;
}

.textos-hero p {
    font-size: 25px;
    margin-bottom: 20px;
}

.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background: #a18cd1;
    border-radius: 8px;
    color: #fff;
}

.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw; 
}


/* generales */
.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 60px 0;
}

.contenedor{
    padding: 80px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}

.titulo.left{
    text-align: left;
}

.titulo.rigth{
    text-align: right;
}

/* section */

.website{
    display: flex;
    justify-content: space-between;
}

.website img {
    width: 48%;
}

.website .contenedor-textos-main{
    width: 40%;
}

.parrafo{
    text-align: justify;
    margin-bottom: 30px;
}

.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    padding: 12px 15px;
    border-radius: 15px;
    color: #fff;
}

/* info */

.info{
    background-color: #f5576c;
    color: #fff;
}

/* cards */

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    /* esta propiedad es la que va en transicion para que
    solo a esta propiedad aplique */
    transform: scale(1);
    /* transition: all ease-in; */
    transition: transform 0.6;
}

.card:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
    transform: scale(1.03);
}

.card i{
    margin: 30px;
    color: #cc9199;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}

/* galeria */

.galeria{
    background-color: #f2f2f2;
}

.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont > img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
    overflow: hidden;
}

/* info 2 */
.last-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.last-section img{
    width: 48%;
}

.last-section .contenedor-textos-main{
    width: 40%;
}

footer{
    background-color: #f5576c;
    color: #fff;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0px;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 20px 10px;
}

.input::placeholder{
    color: #fff;
    font-family: 'Raleway', 'sans-serif';
}

/* que tengan los atributos de typo texto */
.input[type="text"],
.input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;

}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

.input[type="submit"]{
    text-align: center;
    width: 120px;
    padding: 14px 0;
    text-transform: uppercase;
}

.input[type="submit"]:hover {
    cursor: pointer;
    color: tomato;
    background-color: #fff;
}

@media only screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 40px;
    }

    /* estilos generales */
    .titulo{
        font-size: 35px;
    }
    .titulo.left{
        text-align: center;
    }
    .info p {
        text-align: center;
    }

    /* section */

    .website{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    /* cards */

    .card{
        width: 90%;
        margin-bottom: 20px;
    }

    /* info */

    .galeria-cont>img{
        width: 48%;
    }

    /* last */
    .last-section img{
        width: 98%;
    }
    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 400px){
    .titulo,
    .textos-hero h1{
        font-size: 30px;
    }

    .textos-hero p{
        font-size: 20px;
        text-align: center;
    }
    .website .contenedor-textos-main{
        margin-bottom: 30px;
    }

    .card{
        height: 300px;
    }

    .galeria-cont>img{
        width: 90%;
    }
}